<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Day 1 Configuration</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
    <h2>Device Configuration Details</h2>

    <h3>OSPF Configuration</h3>
    <div class="config-box">
      <pre>{{ ospf_config }}</pre>
    </div>

    <h3>Interface IPs</h3>
    <table>
      <tr>
        <th>Interface</th>
        <th>IP Address</th>
        <th>Netmask</th>
      </tr>
      {% for entry in interface_ips %}
        <tr>
          <td>{{ entry.interface }}</td>
          <td>{{ entry.ip_address or 'None' }}</td>
          <td>{{ entry.netmask or 'None' }}</td>
        </tr>
      {% endfor %}
    </table>
        <hr>
        <br>
        <a href="/dashboard">
            <button>Back to Dashboard</button>
        </a>
    </div>
</body>
</html>
