<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Day 0 Configuration</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container">
        <h2>Select a Device to view its information</h2>

        {% for device in devices %}
            <form action="/info/menu" method="get" style="margin-bottom: 10px;">
                <input type="hidden" name="device_id" value="{{ device.device_id }}">
                <button type="submit">{{ device.hostname }}</button>
            </form>
        {% endfor %}

        <hr>

        <br>
        <a href="/dashboard"><button>Back to Dashboard</button></a>
    </div>
</body>
</html>
