<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Configure Interface</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
    <h2>Configure Interface: {{ interface_name }}</h2>

    <form method="POST" action="/day1/interfaces/config">
      <!-- Hidden field for interface name -->
      <input type="hidden" name="interface_name" value="{{ interface_name }}">
      <input type="hidden" name="device_id" value="{{ device_id }}">

      {% for field in fields %}
        {% if field == "description" %}
          <label>Description:</label>
          <input type="text" name="description"><br>

        {% elif field == "enabled" %}
          <label>Enabled:</label>
          <input type="checkbox" name="enabled"><br>

        {% elif field == "link_up_down_trap_enable" %}
          <label>Link Up/Down Trap Enable:</label>
          <input type="checkbox" name="link-up-down-trap-enable"><br>

        {% elif field == "ipv4_address" %}
          <label>IPv4 Address:</label>
          <input type="text" name="ipv4_address"><br>

        {% elif field == "prefix-_ength" %}
          <label>Prefix Length:</label>
          <input type="number" name="prefix_length" min="1" max="32"><br>

        {% elif field == "netmask" %}
          <label>Netmask:</label>
          <input type="text" name="netmask"><br>



        {% elif field == "ipv4_forwarding" %}
          <label>IPv4 Forwarding:</label>
          <input type="checkbox" name="ipv4_forwarding"><br>

        {% elif field == "ipv4_mtu" %}
          <label>MTU:</label>
          <input type="number" name="ipv4_mtu"><br>

        {% elif field == "ipv4_neighbor_ip" %}
          <label>Static Neighbor IP:</label>
          <input type="text" name="ipv4_neighbor_ip"><br>

        {% elif field == "ipv4_neighbor_mac" %}
          <label>Neighbor MAC:</label>
          <input type="text" name="ipv4_neighbor_mac"><br>
        {% endif %}
      {% endfor %}

      <button type="submit">Submit Configuration</button>
    </form>
  </div>
</body>
</html>
