<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Template Menu</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container">
        <h2>Select which template to configure</h2>
            <form action="/template" method="post" style="margin-bottom: 10px;">
              <button type="submit" name="temp_type" value="interface">Interface Configuration Template</button>
              <button type="submit" name="temp_type" value="ospf">OSPF Configuration Template</button>
            </form>
        <hr>
        <br>
        <a href="/dashboard"><button>Back to Dashboard</button></a>
    </div>
</body>
</html>
