hostname {{ hostname }}

interface {{ mgmt_int }}
    ip address {{mgmt_ip}} {{ mgmt_mask }}
    no shutdown

ip domain_name {{ domain_name }}
crypto key generate rsa modulus 2048
ip ssh version 2

username {{ username }} secret {{ password }}
line vty 0 4
    login local
    transport input ssh

ntp server {{ ntp_server }}
logging host {{ syslog_server }}

netconf-yang
restconf